body.about-us-1 {
    position: relative;
    background-color: #ffffff;
    /*banner section*/
    .banner-section {
        overflow: hidden;
        height: 410px;

        .banner {
            min-height: 100%;
            min-width: 100%;
        }
    }
    /*profile-section*/
    .profile-section {
        background: url(../image/company-profile-bk.jpg) no-repeat 0 0;
        background-position: center;
        background-size: 100% 100%;
        color: #333333;
        -webkit-text-fill-color: #333333;

        .container {
            padding-top: 65px;

            img.title {
                margin-bottom: 20px;
            }

            .content {

                .left {
                    width: 44.5%;
                    line-height: 1.8;
                    padding-top: 50px;


                    .title {
                        font-size: 20px;
                    }

                    .text {
                        font-size: 15px;
                        margin: 30px 0;
                    }
                }

                .right {
                    width: 55.5%;
                    height: auto;
                }
            }
        }
    }
    /*history-section*/
    .history-section {
        color: #333333;
        -webkit-text-fill-color: #333333;
        background: url(../image/company-event-bk.jpg) no-repeat 0 0;
        background-position: top;
        background-size: 100% 100%;

        .container {
            height: 750px;
            position: relative;

            .titles {
                margin-top: 70px;
                margin-bottom: 70px;
            }

            .items {
                margin: 0 auto;
                width: 1020px;
                overflow: hidden;
                position: relative;
                height: 285px;

                .items-content {
                    width: unset;
                    height: 285px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    transition: linear 1s;

                    .items-up {
                        margin-bottom: 90px;
                        width: calc((230px + 110px)* 3);


                        .item {
                            margin-left: 110px;

                            &:before {
                                bottom: -46px;
                                right: calc(40% + 3px);
                            }

                            &:after {
                                bottom: -46px;
                                left: calc(60% + 15px);
                            }


                            .arrow {
                                left: 60%;
                                bottom: -24px;
                                border-color: #ffffff transparent transparent transparent;
                            }

                            &.active {
                                .arrow {
                                    border-color: #cd000c transparent transparent transparent;
                                }
                            }


                            .icon {
                                left: calc(60% - 3px);
                                bottom: -46px;
                                transform: translateY(50%);
                            }
                        }
                    }

                    .items-down {
                        margin-top: 90px;
                        width: calc((230px + 110px)* 4);


                        .item {
                            margin-right: 110px;

                            &:before {
                                top: -46px;
                                right: calc(67% + 3px);
                            }

                            &:after {
                                top: -46px;
                                left: calc(33% + 15px);
                            }

                            .arrow {
                                left: 33%;
                                top: -24px;
                                border-color: transparent transparent #ffffff transparent;
                            }

                            .icon {
                                left: calc(33% - 3px);
                                top: -46px;
                                transform: translateY(-50%);
                            }

                            &.active {
                                .arrow {
                                    border-color: transparent transparent #cd000c transparent;
                                }
                            }
                        }
                    }

                    .item {
                        width: 190px;
                        height: 95px;
                        position: relative;
                        border-radius: 10px;
                        padding: 0 20px;
                        background-color: #ffffff;
                        cursor: pointer;


                        &:before {
                            content: '';
                            display: block;
                            width: 77px;
                            height: 0;
                            border: 0.5px solid #ffffff;
                            position: absolute;
                        }

                        &:after {
                            content: '';
                            display: block;
                            width: 77px;
                            height: 0;
                            border: 0.5px solid #ffffff;
                            position: absolute;
                        }

                        .arrow {
                            content: '';
                            display: block;
                            border-style: solid;
                            border-width: 12px 6px;
                            width: 0px;
                            height: 0px;
                            position: absolute;
                        }

                        .icon {
                            border: 2px solid #ffffff;
                            width: 16px;
                            height: 16px;
                            border-radius: 50%;
                            position: absolute;


                            &:after {
                                content: '';
                                display: block;
                                width: 10px;
                                height: 10px;
                                border-radius: 50%;
                                background-color: #ffffff;
                                margin: 3px;
                            }
                        }

                        .title {
                            font-size: 20px;
                            line-height: 1;
                            padding-bottom: 7px;
                            padding-top: 13px;
                        }

                        .text {
                            font-size: 14px;
                            line-height: 1.3;
                            height: 35px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box; //将对象作为弹性伸缩盒子模型显示
                            -webkit-line-clamp: 2; //控制显示几行文字
                            -webkit-box-orient: vertical; //设置伸缩盒对象的子元素排列方式
                        }

                        &.active {
                            background-color: #cd000c;

                            .icon {
                                border: 2px solid #cd000c;

                                &:after {
                                    background-color: #cd000c;
                                }
                            }

                            .title, .text {
                                color: #ffffff;
                                -webkit-text-fill-color: #ffffff;
                            }
                        }
                    }
                }
            }

            .move-left, .move-right {
                width: 40px;
                height: 40px;
                border: 1px solid #cd000c;
                border-radius: 50%;
                position: absolute;
                top: calc(50% - 22px);
                cursor: pointer;

                &:after {
                    content: '';
                    font-family: swiper-icons;
                    text-align: center;
                    line-height: 40px;
                    font-size: 32px;
                    width: 40px;
                    display: block;
                    color: #cd000c;
                    -webkit-text-fill-color: #cd000c;
                }
            }

            .move-right {
                right: 0px;

                &:after {
                    content: 'next';
                }
            }

            .move-left {
                left: 0px;

                &:after {
                    content: 'prev';
                }
            }


            .move-left.disable, .move-right.disable {
                border-color: #ffffff;

                &:after {
                    color: #ffffff;
                    -webkit-text-fill-color: #ffffff;
                }
            }
        }
    }
    /*swiper-container*/
    .swiper-section {
        .container {
            .titles {
                margin-top: 70px;
                margin-bottom: 15px;
            }

            .line-1 {
                width: 100%;
                margin-bottom: 35px;

                .cups {
                    position: relative;
                    width: 960px;

                    &:before {
                        content: '';
                        display: block;
                        width: 100%;
                        height: 0;
                        border: 0.5px solid #949494;
                        position: absolute;
                        top: calc(50% - 10px);
                        left: 0;
                        right: 0;
                        z-index: 0;
                    }

                    img.cup {
                        width: 39px;
                        height: auto;
                        margin: 0 80px 20px;
                        z-index: 1;

                        &:first-of-type {
                            margin-left: 60px;
                        }

                        &:last-of-type {
                            margin-right: 60px;
                        }
                    }
                }

                .button-prev, .button-next {
                    img {
                        height: 66px;
                        width: auto;
                        margin-top: 10px;
                        cursor: pointer;
                    }


                    .text {
                        font-size: 16px;
                        padding-top: 15px;
                    }

                    &.disable {
                        img.grey {
                            display: block;
                        }

                        img.red {
                            display: none;
                        }
                    }
                }

                .button-prev {
                    img.red {
                        transform: rotate(180deg);
                        display: block;
                    }

                    img.grey {
                        display: none;
                    }
                }


                .button-next {
                    img.red {
                        display: block;
                    }

                    img.grey {
                        transform: rotate(180deg);
                        display: none;
                    }
                }
            }

            .swiper-container {
                overflow: hidden;
                width: 100%;
                height: 330px;
                position: relative;

                .honer {
                    height: 330px;
                    width: auto;
                    transition: linear 1s;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }
    }
    /*cooperation-section*/
    .cooperation-section {
        margin-bottom: 150px;

        .titles {
            margin-top: 65px;
            margin-bottom: 45px;
        }

        .items {
            width: 1200px;

            .item {
                width: 147.5px;
                height: 108px;
                border: 1px solid #dcdcdc;

                img {
                    max-height: 100%;
                    max-width: 100%;
                }
            }
        }
    }
}
