body.dingdanxiangqing {
    background-color: #f9f9f9;
    position: relative;
    /*main*/
    .main {

        .container {
            color: #101010;
            -webkit-text-fill-color: #101010;
            font-size: 14px;
            padding-top: 25px;

            .section-list {

                .titles {
                    margin-bottom: 12px;
                    font-size: 14px;
                    height: 42px;
                    padding-left: 30px;
                    background-color: #ffffff;
                    border: 1px solid #eeeeee;
                }

                .section-main {
                    padding-bottom: 100px;
                    width: 905px;
                    overflow: hidden;

                    .tabs {
                        padding-bottom: 20px;
                        background-color: #ffffff;

                        .tab {
                            height: 60px;
                            line-height: 60px;
                            width: calc(20% - 2px);
                            border: 1px solid #eeeeee;
                            text-align: center;
                            font-size: 16px;
                            cursor: pointer;

                            &.active {
                                color: #cd000c;
                                -webkit-text-fill-color: #cd000c;
                            }
                        }
                    }

                    .tab-container {
                        display: none;

                        &[data-tab='1'] {
                            display: block;
                        }

                        .thead {
                            .th {
                                height: 42px;
                                line-height: 42px;

                                &.th1 {
                                    position: relative;
                                    padding-left: 8px;
                                    width: 390px;

                                    input {
                                        height: 26px;
                                        width: 210px;
                                        border: 1px solid #eeeeee;
                                        background-color: #ffffff;
                                        margin-right: 20px;
                                    }

                                    img.search-grey {
                                        width: 21px;
                                        height: auto;
                                        position: absolute;
                                        left: 195px;
                                        top: 11px;
                                        margin-right: 25px;
                                        cursor: pointer;
                                    }
                                }

                                &.th2 {
                                    width: 70px;
                                    text-align: center;
                                }

                                &.th3 {
                                    width: 70px;
                                    text-align: center;
                                }

                                &.th4 {
                                    width: 130px;
                                    text-align: center;
                                }

                                &.th5 {
                                    width: 120px;
                                    text-align: center;
                                }

                                &.th6 {
                                    width: 120px;
                                    text-align: center;
                                }
                            }
                        }

                        .btns-bar {
                            background-color: #ffffff;
                            padding-top: 5px;
                            height: 43px;
                            line-height: 43px;
                            padding-left: 20px;

                            .checkbox-group.checkbox-group-rect.check-all {
                                width: 18px;
                                height: 18px;
                            }

                            .text {
                                padding-left: 5px;
                            }

                            .btn-make-sure-all {
                                padding-left: 22px;
                            }

                            .btn-delete-all {
                                padding-left: 22px;
                            }
                        }

                        .ttbody {
                            margin-bottom: 14px;
                            background-color: #ffffff;

                            .ttrh {
                                height: 50px;
                                line-height: 50px;
                                border: 1px solid #eeeeee;
                                padding-left: 17px;

                                .checkbox-group.checkbox-group-rect {
                                    width: 18px;
                                    height: 18px;
                                }

                                .text {
                                    padding-left: 25px;
                                    padding-right: 15px;
                                }

                                img.rubbish {
                                    margin-right: 30px;
                                    cursor: pointer;
                                }
                            }

                            .ttr {
                                border-bottom: 1px solid #eeeeee;

                                .ttd {
                                    height: 130px;


                                    .btn-border {
                                        height: 30px;
                                        width: 90px;
                                        display: block;
                                        line-height: 30px;
                                        text-align: center;
                                    }


                                    .btn-red {
                                        height: 30px;
                                        width: 90px;
                                        display: block;
                                        line-height: 30px;
                                        text-align: center;
                                    }

                                    &.ttd1 {
                                        width: 390px;

                                        img {
                                            width: 100px;
                                            height: auto;
                                            margin-left: 20px;
                                            margin-right: 10px;
                                            cursor: pointer;
                                        }

                                        .text {
                                            width: 260px;
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                            display: -webkit-box;
                                            -webkit-line-clamp: 3;
                                            -webkit-box-orient: vertical;
                                            cursor: pointer;
                                            text-align: center;
                                        }
                                    }

                                    &.ttd2 {
                                        width: 70px;
                                        text-align: center;
                                    }

                                    &.ttd3 {
                                        width: 70px;
                                        text-align: center;
                                    }

                                    &.ttd4 {
                                        width: 130px;
                                        text-align: center;

                                        .text-1 {
                                            padding-bottom: 10px;
                                            color: #cd000c;
                                            -webkit-text-fill-color: #cd000c;
                                        }

                                        .text-2 {
                                            font-size: 12px;
                                            color: #a7a7a7;
                                            -webkit-text-fill-color: #a7a7a7;
                                        }
                                    }

                                    &.ttd5 {
                                        text-align: center;
                                        width: 120px;

                                        .text {
                                            padding-bottom: 15px;
                                            color: #cd000c;
                                            -webkit-text-fill-color: #cd000c;
                                        }
                                    }

                                    &.ttd6 {
                                        width: 120px;
                                        text-align: center;

                                        .text {
                                            padding-bottom: 15px;
                                        }
                                    }
                                }
                            }
                        }

                        .pagination {
                        }

                        .empty {
                            height: 800px;
                            background-color: #ffffff;

                            img {
                                margin-bottom: 20px;
                                width: 180px;
                                height: auto;
                            }

                            .text {
                                font-size: 20px;
                                padding-bottom: 200px;
                            }
                        }
                    }
                }
            }
        }
    }
}
