body.order {
    background-color: #f9f9f9;
    position: relative;

    .main {
        width: 100%;
        background-color: #ffffff;
        font-size: 14px;
        margin-bottom: 300px;
        padding-bottom: 1px;

        .housekeep {
            display: none;
        }

        .cake {
            display: none;
        }

        .vegetable {
            display: none;
        }


        &[data-type="vegetable"] {
            .vegetable {
                display: inline-block;
            }
        }

        &[data-type="housekeep"] {
            .housekeep {
                display: inline-block;
            }
        }

        &[data-type="cake"] {
            .cake {
                display: inline-block;
            }
        }
    }
    /*titles*/
    .titles {
        margin-top: 25px;
        height: 40px;
        padding-left: 10px;
        color: #101010;
        -webkit-text-fill-color: #101010;
        margin-bottom: 25px;
    }

    .section-address {
        color: #101010;
        -webkit-text-fill-color: #101010;
        border: 1px solid #eeeeee;
        padding: 15px 30px;


        .section-address-title {
            cursor: pointer;

            .title {
                font-size: 20px;
            }

            .add-address {
                img {
                    width: 12px;
                    height: auto;
                    margin-right: 15px;
                }
            }
        }

        .add-address-link {
            margin-top: 20px;
            margin-bottom: 25px;

            img {
                width: 30px;
                height: auto;
                margin-right: 15px;
            }
        }

        .items {
            padding-bottom: 160px;
            overflow: hidden;


            .item {
                background-color: #f1f1f1;
                height: 40px;
                margin: 15px 0 15px;
                padding: 0;
                line-height: 40px;

                .name {
                    padding-left: 5px;
                    width: 115px;
                }

                .tel {
                    width: 130px;
                }

                .address {
                    width: 580px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;

                    .default-badge {
                        color: #dd7b07;
                        -webkit-text-fill-color: #dd7b07;
                        background-color: #ffecc7;
                        padding: 3px 4px;
                        margin-left: 20px;
                        display: none;
                        line-height: 1;
                    }
                }

                .btns {
                    width: 300px;
                    margin-right: 30px;

                    .btn {
                        font-size: 12px;
                        color: #767676;
                        -webkit-text-fill-color: #767676;
                        margin-right: 30px;

                        img {
                            width: auto;
                            height: 20px;
                            margin-right: 5px;
                        }

                        &.btn-set-address {
                        }

                        &.btn-change-address {
                        }

                        &.btn-delete-address {
                        }
                    }
                }


                &.default {
                    .btn-set-address {
                        display: none;
                    }

                    .btn-delete-address {
                        display: none;
                    }

                    .default-badge {
                        display: inline-block;
                    }
                }
            }


            &[data-expand="true"] {
                height: auto;
            }

            &[data-expand="false"] {
                height: 70px;
                padding-bottom: 0;
            }
        }

        .show-all {
            img {
                margin-left: 10px;
                width: 8px;
                height: auto;
            }

            &[data-expand="false"] {

                img.arrow-red {
                    display: none;
                }

                img.arrow-grey {
                    transform: rotate(90deg);
                }
            }

            &[data-expand="true"] {
                color: #cd000c;
                -webkit-text-fill-color: #cd000c;

                img.arrow-grey {
                    display: none;
                }

                img.arrow-red {
                    transform: rotate(-90deg);
                }
            }
        }



        &[data-address="none"] {
            .items, .show-all {
                display: none;
            }
        }

        &[data-address="have"] {
            .add-address-link {
                display: none;
            }
        }
    }
    // common here
    .tbody {

        .tr {
            border-bottom: 1px solid #eeeeee;

            &:last-of-type {
                border-bottom: none;
            }

            .td {
                &.td-1 {
                    width: 245px;
                }

                &.td-2 {
                    width: 200px;
                    text-align: center;
                }

                &.td-3 {
                    width: 100px;
                    text-align: center;
                    margin-left: 25px;
                }

                &.td-4 {
                    width: 80px;
                    text-align: center;
                }

                &.td-5 {
                    width: 140px;
                    text-align: center;
                    margin-right: 20px;

                    .text {
                        color: #cd000c;
                        -webkit-text-fill-color: #cd000c;
                    }

                    .sub-text {
                        font-size: 12px;
                        color: #a7a7a7;
                        -webkit-text-fill-color: #a7a7a7;
                        padding-top: 7px;
                    }
                }

                &.td-6 {
                    width: 385px;
                    height: 200px;

                    textarea {
                        width: 335px;
                        height: 140px;
                        background-color: #f9f9f9;
                        padding: 20px;
                        font-size: 14px;
                        border: none;
                    }
                }
            }
        }
    }

    .section-gift {
        color: #101010;
        -webkit-text-fill-color: #101010;
        border: 1px solid #eeeeee;
        margin-top: 10px;
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .section-infor {
        color: #101010;
        -webkit-text-fill-color: #101010;
        margin-top: 40px;
        border: 1px solid #eeeeee;
        background-color: #ffffff;

        .title {
            font-size: 20px;
            padding: 15px 30px 20px 30px;
        }

        .thead {
            background-color: #f9f9f9;
            height: 40px;

            .th {
                &.th-1 {
                    width: 245px;
                }

                &.th-2 {
                    width: 200px;
                    text-align: center;
                }

                &.th-3 {
                    width: 100px;
                    text-align: center;
                    margin-left: 25px;
                }

                &.th-4 {
                    width: 80px;
                    text-align: center;
                }

                &.th-5 {
                    width: 140px;
                    text-align: center;
                    margin-right: 20px;
                }

                &.th-6 {
                    padding-left: 10px;
                    width: 375px;
                }
            }
        }
    }

    .section-time {
        color: #101010;
        -webkit-text-fill-color: #101010;
        margin-top: 35px;
        border: 1px solid #eeeeee;
        /*background-color: #ffffff;*/
        .title {
            padding: 35px 25px 35px 45px;
            font-size: 16px;
        }


        .pannel {
            margin-top: 25px;
            margin-right: 75px;
            padding-bottom: 40px;

            .pannel-title {
                background-color: #e9e9e9;
                border: 1px solid #e9e9e9;
                width: 270px;
                height: 40px;

                img.icon {
                    width: auto;
                    height: 23px;
                    margin-left: 20px;
                    margin-right: 20px;
                }

                .text {
                    color: #707070;
                    -webkit-text-fill-color: #707070;
                }

                img.arrow {
                    width: auto;
                    height: 15px;
                    transform: rotate(90deg);
                    margin-right: 15px;
                }
            }

            .pannel-content {
                color: #2e2e2e;
                -webkit-text-fill-color: #2e2e2e;
                width: 100%;
                height: 240px;
                border: 1px solid #eeeeee;
                margin-top: 10px;
            }

            &.time-pannel {
                .pannel-content {
                    .pannel-content-title {
                        border-bottom: 1px solid #eeeeee;
                        height: 35px;
                        line-height: 35px;
                        text-align: center;
                        margin-bottom: 15px;
                    }

                    .pannel-contentt {
                        .item {
                            line-height: 2.2;
                            padding: 0 15px;
                            margin-bottom: 12px;
                            cursor: pointer;

                            &.active {
                                background-color: #cd000c;
                                color: #ffffff;
                                -webkit-text-fill-color: #ffffff;
                            }
                        }

                        .pannel-contentt-left {
                            padding-left: 8px;
                        }

                        .pannel-contentt-right {
                            padding-right: 8px;
                        }
                    }
                }
            }

            &.date-pannel {
                .pannel-content {
                    .datepicker-inline {
                        transform: scale(1.2) translate(30px,15px);

                        .datepicker-switch {
                            font-weight: normal;
                            font-size: 11.7px;
                            color: #2e2e2e;
                            -webkit-text-fill-color: #2e2e2e;
                        }

                        .prev, .next {
                            font-weight: normal;
                            font-size: 11.7px;
                            color: #2e2e2e;
                            -webkit-text-fill-color: #2e2e2e;
                        }

                        th {
                            color: #101010;
                            -webkit-text-fill-color: #101010;
                            font-weight: normal;
                            font-size: 11.7px;
                        }

                        td {
                            border-radius: 0;
                            font-size: 11.7px;

                            &.day {
                                &.old, &.new {
                                    opacity: 0;
                                }

                                &.disabled {
                                    color: #d8d8d8;
                                    -webkit-text-fill-color: #d8d8d8;
                                }

                                &.today {
                                    background-color: transparent;
                                    background-image: none;
                                }

                                &.active {
                                    background-color: #cd000c;
                                    color: #ffffff;
                                    -webkit-text-fill-color: #ffffff;
                                    background-image: none;
                                }
                            }
                        }
                    }
                }
            }
        }

        .tips {
            width: 340px;
            margin-top: 25px;

            .tips-title {
                font-size: 16px;
                margin-bottom: 15px;
                margin-top: 5px;
                margin-left: 10px;
            }

            .tips-content {
                font-size: 12px;
                background-color: #f6f6f6;
                padding: 25px 15px;
                line-height: 1.45;
            }
        }
    }

    .section-result {
        margin-top: 55px;
        margin-bottom: 110px;
        padding-right: 50px;
        padding-top: 25px;
        background-color: #f9f9f9;

        .line-1 {
            .line-1-1 {
                .number {
                    padding: 0 17px;
                }
            }

            .line-1-2 {
                margin-left: 30px;
            }

            .line-1-3 {
                width: 60px;
                text-align: right;
                margin-right: 2px;
            }
        }

        .line-2 {
            margin-top: 20px;

            .line-2-1 {
            }

            .line-2-2 {
                width: 60px;
                text-align: right;
                margin-right: 2px;
            }
        }

        .line-3 {
            margin-top: 13px;

            .line-3-1 {
            }

            .line-3-2 {
                width: 60px;
                text-align: right;
                margin-right: 2px;

                .red {
                    font-size: 20px;
                    color: #cd000c;
                    -webkit-text-fill-color: #cd000c;
                }
            }
        }

        .line-4 {
            font-size: 12px;
            padding-top: 10px;

            .line-4-1 {
                margin-left: 18px;
            }

            .line-4-2 {
                margin-left: 18px;
            }

            .line-4-3 {
                margin-left: 18px;
            }

            .line-4-4 {
                margin-left: 18px;
            }
        }

        .line-5 {
            margin-top: 22px;
            margin-bottom: 27px;

            .btn-submit {
                font-size: 16px;
                color: #ffffff;
                -webkit-text-fill-color: #ffffff;
                background-color: #cd000c;
                padding: 10px 50px;
            }
        }
    }
}
