body.pay {
    background-color: #f9f9f9;
    position: relative;

    .main {
        width: 100%;
        background-color: #ffffff;
        font-size: 14px;
        margin-bottom: 180px;
        margin-top: 20px;
        color: #101010;
        -webkit-text-fill-color: #101010;

        .container {
            padding-bottom: 50px;

            .titles {
                font-size: 16px;
                padding-top: 40px;
                padding-left: 35px;
            }

            .subtitles {
                padding-left: 35px;
                padding-bottom: 30px;
                padding-top: 15px;

                .text {
                    font-size: 12px;
                    margin-right: 15px;
                }
            }

            .section-order {
                background-color: #f9f9f9;
                padding-bottom: 30px;

                .section-order-content {
                    border: 1px solid #eeeeee;
                    padding-bottom: 30px;
                    background-color: #ffffff;

                    .section-order-top {
                        padding-top: 30px;
                        padding-left: 35px;
                        padding-right: 50px;

                        .left {
                            .text {
                                padding-bottom: 5px;

                                .red {
                                    font-size: 16px;
                                    padding: 0 3px;
                                    color: #cd000c;
                                    -webkit-text-fill-color: #cd000c;
                                }
                            }
                        }

                        .right {
                            text-align: right;

                            .text {
                                padding-bottom: 3px;
                            }

                            .show-all {
                                padding-right: 10px;

                                img.triangle {
                                    width: 10px;
                                    height: auto;
                                    margin-left: 10px;
                                }

                                &[data-expand="false"] {
                                    img.triangle {
                                        transform: rotate(-90deg);
                                    }
                                }
                            }
                        }
                    }

                    .section-order-bottom {
                        padding-left: 35px;
                        padding-right: 50px;
                        padding-top: 30px;
                        padding-bottom: 20px;

                        .text {
                            padding-bottom: 3px;
                        }

                        &[data-expand="false"] {
                            display: none;
                        }
                    }
                }
            }

            .section-platform {
                background-color: #ffffff;
                border: 1px solid #eeeeee;

                .title {
                    font-size: 18px;
                    padding-top: 35px;
                    padding-left: 20px;
                    padding-bottom: 25px;
                }

                .choose-tabs {
                    margin-left: 73px;
                    padding-bottom: 40px;


                    .choose-tab {
                        border: 1px solid #eeeeee;
                        width: 175px;
                        height: 70px;
                        cursor: pointer;

                        &.active {
                            border: 1px solid #cd000c;
                        }

                        &.tab-1 {
                            margin-right: 75px;

                            img {
                                width: 50px;
                                height: auto;
                                margin-right: 10px;
                            }
                        }

                        &.tab-2 {
                            margin-right: 75px;

                            img {
                                width: 50px;
                                height: auto;
                                margin-right: 10px;
                            }
                        }

                        &.tab-3 {
                            img {
                                width: 70px;
                                height: auto;
                                margin-right: 0px;
                            }
                        }
                    }
                }
            }

            .btn-red {
                margin-top: 55px;
                font-size: 20px;
                color: #ffffff;
                -webkit-text-fill-color: #ffffff;
                background-color: #cd000c;
                padding: 15px 50px;
                margin-right: 30px;
            }
        }
    }
}
