body.xinshourumen {
    background-color: #f9f9f9;
    position: relative;
    /*main*/
    .main {
        .container {
            color: #101010;
            -webkit-text-fill-color: #101010;
            font-size: 14px;
            padding-top: 25px;

            .section-list {
                .titles {
                    margin-bottom: 10px;
                    font-size: 14px;
                    height: 42px;
                    padding-left: 30px;
                    background-color: #ffffff;
                    border: 1px solid #eeeeee;
                }

                .section-main {
                    margin-bottom: 100px;
                    width: 905px;
                    overflow: hidden;
                    min-height: 574px;
                    padding-bottom: 70px;
                    padding-top: 10px;

                    .pannel {

                        .pannel-head {
                            padding-left: 40px;
                            padding-right: 45px;
                            cursor: pointer;

                            .text {
                                line-height: 50px;
                            }

                            img.arrow {
                                transform: rotate(90deg);
                                height: 13px;
                                width: auto;
                            }
                        }

                        .pannel-content {
                            padding: 20px 40px 20px 30px;
                            background-color: #ffffff;

                            img {
                                width: 100%;
                                height: auto;
                            }
                        }

                        &[data-expand="false"] {
                            img.arrow {
                                transform: rotate(0deg);
                            }

                            .pannel-content {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
